In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
client_df = pd.read_csv("datasets/module_two_datasets/QVI_data.csv")

In [3]:
client_df.head()

,LYLTY_CARD_NBR,DATE,STORE_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,PACK_SIZE,BRAND,LIFESTAGE,PREMIUM_CUSTOMER
0,1000,2018-10-17,1,1,5,Natural Chip Compny SeaSalt175g,2,6.0,175,NATURAL,YOUNG SINGLES/COUPLES,Premium
1,1002,2018-09-16,1,2,58,Red Rock Deli Chikn&Garlic Aioli 150g,1,2.7,150,RRD,YOUNG SINGLES/COUPLES,Mainstream
2,1003,2019-03-07,1,3,52,Grain Waves Sour Cream&Chives 210G,1,3.6,210,GRNWVES,YOUNG FAMILIES,Budget
3,1003,2019-03-08,1,4,106,Natural ChipCo Hony Soy Chckn175g,1,3.0,175,NATURAL,YOUNG FAMILIES,Budget
4,1004,2018-11-02,1,5,96,WW Original Stacked Chips 160g,1,1.9,160,WOOLWORTHS,OLDER SINGLES/COUPLES,Mainstream

In [4]:
# check for null values
client_df.isnull().sum()

LYLTY_CARD_NBR      0
DATE                0
STORE_NBR           0
TXN_ID              0
PROD_NBR            0
PROD_NAME           0
PROD_QTY            0
TOT_SALES           0
PACK_SIZE           0
BRAND               0
LIFESTAGE           0
PREMIUM_CUSTOMER    0
dtype: int64

In [5]:
# check datatypes
client_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264834 entries, 0 to 264833
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   LYLTY_CARD_NBR    264834 non-null  int64
 1   DATE              264834 non-null  object
 2   STORE_NBR         264834 non-null  int64
 3   TXN_ID            264834 non-null  int64
 4   PROD_NBR          264834 non-null  int64
 5   PROD_NAME         264834 non-null  object
 6   PROD_QTY          264834 non-null  int64
 7   TOT_SALES         264834 non-null  float64
 8   PACK_SIZE         264834 non-null  int64
 9   BRAND             264834 non-null  object
 10  LIFESTAGE         264834 non-null  object
 11  PREMIUM_CUSTOMER  264834 non-null  object
dtypes: float64(1), int64(6), object(5)
memory usage: 24.2+ MB

In [7]:
# change date column to datetime format
client_df['DATE'] = pd.to_datetime(client_df['DATE'])

In [8]:
client_df.head()

,LYLTY_CARD_NBR,DATE,STORE_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,PACK_SIZE,BRAND,LIFESTAGE,PREMIUM_CUSTOMER
0,1000,2018-10-17,1,1,5,Natural Chip Compny SeaSalt175g,2,6.0,175,NATURAL,YOUNG SINGLES/COUPLES,Premium
1,1002,2018-09-16,1,2,58,Red Rock Deli Chikn&Garlic Aioli 150g,1,2.7,150,RRD,YOUNG SINGLES/COUPLES,Mainstream
2,1003,2019-03-07,1,3,52,Grain Waves Sour Cream&Chives 210G,1,3.6,210,GRNWVES,YOUNG FAMILIES,Budget
3,1003,2019-03-08,1,4,106,Natural ChipCo Hony Soy Chckn175g,1,3.0,175,NATURAL,YOUNG FAMILIES,Budget
4,1004,2018-11-02,1,5,96,WW Original Stacked Chips 160g,1,1.9,160,WOOLWORTHS,OLDER SINGLES/COUPLES,Mainstream

In [9]:
client_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264834 entries, 0 to 264833
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   LYLTY_CARD_NBR    264834 non-null  int64
 1   DATE              264834 non-null  datetime64[ns]
 2   STORE_NBR         264834 non-null  int64
 3   TXN_ID            264834 non-null  int64
 4   PROD_NBR          264834 non-null  int64
 5   PROD_NAME         264834 non-null  object
 6   PROD_QTY          264834 non-null  int64
 7   TOT_SALES         264834 non-null  float64
 8   PACK_SIZE         264834 non-null  int64
 9   BRAND             264834 non-null  object
 10  LIFESTAGE         264834 non-null  object
 11  PREMIUM_CUSTOMER  264834 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(6), object(4)
memory usage: 24.2+ MB

In [10]:
# check unique values for all features
client_df.nunique()

LYLTY_CARD_NBR       72636
DATE                   364
STORE_NBR              272
TXN_ID              263125
PROD_NBR               114
PROD_NAME              114
PROD_QTY                 5
TOT_SALES              111
PACK_SIZE               21
BRAND                   21
LIFESTAGE                7
PREMIUM_CUSTOMER         3
dtype: int64

Client wanted to select store numbers 77, 86 88 as trial stores and want control stores to be established stores that are operational for the entire
observation period.
We would want to match trial stores to control stores that are similar to the trial
store prior to the trial period of Feb 2019 in terms of :
- Monthly overall sales revenue
- Monthly number of customers
- Monthly number of transactions per customer

In [15]:
# add a new month ID column with the format yyyymm

# get the year data. covert to string for joining later
client_year = client_df['DATE'].dt.year.astype("str")
# get the month data and convert to string for joining
client_month = client_df['DATE'].dt.month.astype("str")
# create the new column
client_df['month_id'] = client_year + client_month

In [17]:
# convert month_id column to integer datatype
client_df['month_id'] = pd.to_numeric(client_df['month_id'])

In [19]:
# actaully change column name to yearmonth lol
client_df.rename(columns={"month_id":"yearmonth"}, inplace=True)

In [20]:
# check if changes are made
client_df

,LYLTY_CARD_NBR,DATE,STORE_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,PACK_SIZE,BRAND,LIFESTAGE,PREMIUM_CUSTOMER,yearmonth
0,1000,2018-10-17,1,1,5,Natural Chip Compny SeaSalt175g,2,6.0,175,NATURAL,YOUNG SINGLES/COUPLES,Premium,201810
1,1002,2018-09-16,1,2,58,Red Rock Deli Chikn&Garlic Aioli 150g,1,2.7,150,RRD,YOUNG SINGLES/COUPLES,Mainstream,20189
2,1003,2019-03-07,1,3,52,Grain Waves Sour Cream&Chives 210G,1,3.6,210,GRNWVES,YOUNG FAMILIES,Budget,20193
3,1003,2019-03-08,1,4,106,Natural ChipCo Hony Soy Chckn175g,1,3.0,175,NATURAL,YOUNG FAMILIES,Budget,20193
4,1004,2018-11-02,1,5,96,WW Original Stacked Chips 160g,1,1.9,160,WOOLWORTHS,OLDER SINGLES/COUPLES,Mainstream,201811
...,...,...,...,...,...,...,...,...,...,...,...,...,...
264829,2370701,2018-12-08,88,240378,24,Grain Waves Sweet Chilli 210g,2,7.2,210,GRNWVES,YOUNG FAMILIES,Mainstream,201812
264830,2370751,2018-10-01,88,240394,60,Kettle Tortilla ChpsFeta&Garlic 150g,2,9.2,150,KETTLE,YOUNG FAMILIES,Premium,201810
264831,2370961,2018-10-24,88,240480,70,Tyrrells Crisps Lightly Salted 165g,2,8.4,165,TYRRELLS,OLDER FAMILIES,Budget,201810
264832,2370961,2018-10-27,88,240481,65,Old El Paso Salsa Dip Chnky Tom Ht300g,2,10.2,300,OLD,OLDER FAMILIES,Budget,201810
264833,2373711,2018-12-14,88,241815,16,Smiths Crinkle Chips Salt & Vinegar 330g,2,11.4,330,SMITHS,YOUNG SINGLES/COUPLES,Mainstream,201812

In [24]:
# sort client_df by date from lowest to highest
client_df = client_df.sort_values(by='DATE').reset_index(drop=True)

 For each store and month calculate total sales, number of customers,
transactions per customer, chips per customer and the average price per unit.

In [32]:
# total sales per store per date
total_sales = client_df.groupby(by=['STORE_NBR','yearmonth']).sum()['TOT_SALES']
total_sales

STORE_NBR  yearmonth
1          20187        206.9
           20188        176.1
           20189        278.8
           20191        154.8
           20192        225.4
                        ...
272        20195        314.6
           20196        312.1
           201810       430.6
           201811       376.2
           201812       403.9
Name: TOT_SALES, Length: 3169, dtype: float64

In [33]:
# get the number of transactions
transactions = client_df.groupby(by=['STORE_NBR','yearmonth']).count()['LYLTY_CARD_NBR']
transactions

STORE_NBR  yearmonth
1          20187        52
           20188        43
           20189        62
           20191        36
           20192        55
                        ..
272        20195        40
           20196        37
           201810       51
           201811       45
           201812       47
Name: LYLTY_CARD_NBR, Length: 3169, dtype: int64

In [34]:
# get the number of customers
unique_customers = client_df.groupby(by=['STORE_NBR','yearmonth']).nunique()['LYLTY_CARD_NBR']
unique_customers

STORE_NBR  yearmonth
1          20187        49
           20188        42
           20189        59
           20191        35
           20192        52
                        ..
272        20195        34
           20196        34
           201810       44
           201811       41
           201812       47
Name: LYLTY_CARD_NBR, Length: 3169, dtype: int64

In [37]:
# get the number of transactions PER customer
transactions_per_customer = transactions / unique_customers
transactions_per_customer

STORE_NBR  yearmonth
1          20187        1.061224
           20188        1.023810
           20189        1.050847
           20191        1.028571
           20192        1.057692
                          ...
272        20195        1.176471
           20196        1.088235
           201810       1.159091
           201811       1.097561
           201812       1.000000
Name: LYLTY_CARD_NBR, Length: 3169, dtype: float64

In [40]:
# get the number of chips purchased
chips_purchased = client_df.groupby(by=['STORE_NBR','yearmonth']).sum()['PROD_QTY']
chips_purchased

STORE_NBR  yearmonth
1          20187        62
           20188        54
           20189        75
           20191        42
           20192        65
                        ..
272        20195        71
           20196        70
           201810       99
           201811       87
           201812       89
Name: PROD_QTY, Length: 3169, dtype: int64

In [41]:
# get chips PER customer
chips_per_customer = chips_purchased / unique_customers
chips_per_customer

STORE_NBR  yearmonth
1          20187        1.265306
           20188        1.285714
           20189        1.271186
           20191        1.200000
           20192        1.250000
                          ...
272        20195        2.088235
           20196        2.058824
           201810       2.250000
           201811       2.121951
           201812       1.893617
Length: 3169, dtype: float64

In [42]:
# get chips PER transaction
chips_per_transaction = chips_purchased / transactions
chips_per_transaction

STORE_NBR  yearmonth
1          20187        1.192308
           20188        1.255814
           20189        1.209677
           20191        1.166667
           20192        1.181818
                          ...
272        20195        1.775000
           20196        1.891892
           201810       1.941176
           201811       1.933333
           201812       1.893617
Length: 3169, dtype: float64

In [45]:
# get the average price per unit
price_per_unit = total_sales / chips_purchased
price_per_unit

STORE_NBR  yearmonth
1          20187        3.337097
           20188        3.261111
           20189        3.717333
           20191        3.685714
           20192        3.467692
                          ...
272        20195        4.430986
           20196        4.458571
           201810       4.349495
           201811       4.324138
           201812       4.538202
Length: 3169, dtype: float64