In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
client_df = pd.read_csv("datasets/module_two_datasets/QVI_data.csv")

In [3]:
client_df.head()

,LYLTY_CARD_NBR,DATE,STORE_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,PACK_SIZE,BRAND,LIFESTAGE,PREMIUM_CUSTOMER
0,1000,2018-10-17,1,1,5,Natural Chip Compny SeaSalt175g,2,6.0,175,NATURAL,YOUNG SINGLES/COUPLES,Premium
1,1002,2018-09-16,1,2,58,Red Rock Deli Chikn&Garlic Aioli 150g,1,2.7,150,RRD,YOUNG SINGLES/COUPLES,Mainstream
2,1003,2019-03-07,1,3,52,Grain Waves Sour Cream&Chives 210G,1,3.6,210,GRNWVES,YOUNG FAMILIES,Budget
3,1003,2019-03-08,1,4,106,Natural ChipCo Hony Soy Chckn175g,1,3.0,175,NATURAL,YOUNG FAMILIES,Budget
4,1004,2018-11-02,1,5,96,WW Original Stacked Chips 160g,1,1.9,160,WOOLWORTHS,OLDER SINGLES/COUPLES,Mainstream

In [4]:
# check for null values
client_df.isnull().sum()

LYLTY_CARD_NBR      0
DATE                0
STORE_NBR           0
TXN_ID              0
PROD_NBR            0
PROD_NAME           0
PROD_QTY            0
TOT_SALES           0
PACK_SIZE           0
BRAND               0
LIFESTAGE           0
PREMIUM_CUSTOMER    0
dtype: int64

In [5]:
# check datatypes
client_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264834 entries, 0 to 264833
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   LYLTY_CARD_NBR    264834 non-null  int64
 1   DATE              264834 non-null  object
 2   STORE_NBR         264834 non-null  int64
 3   TXN_ID            264834 non-null  int64
 4   PROD_NBR          264834 non-null  int64
 5   PROD_NAME         264834 non-null  object
 6   PROD_QTY          264834 non-null  int64
 7   TOT_SALES         264834 non-null  float64
 8   PACK_SIZE         264834 non-null  int64
 9   BRAND             264834 non-null  object
 10  LIFESTAGE         264834 non-null  object
 11  PREMIUM_CUSTOMER  264834 non-null  object
dtypes: float64(1), int64(6), object(5)
memory usage: 24.2+ MB

In [6]:
# change date column to datetime format
client_df['DATE'] = pd.to_datetime(client_df['DATE'])

In [7]:
client_df.head()

,LYLTY_CARD_NBR,DATE,STORE_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,PACK_SIZE,BRAND,LIFESTAGE,PREMIUM_CUSTOMER
0,1000,2018-10-17,1,1,5,Natural Chip Compny SeaSalt175g,2,6.0,175,NATURAL,YOUNG SINGLES/COUPLES,Premium
1,1002,2018-09-16,1,2,58,Red Rock Deli Chikn&Garlic Aioli 150g,1,2.7,150,RRD,YOUNG SINGLES/COUPLES,Mainstream
2,1003,2019-03-07,1,3,52,Grain Waves Sour Cream&Chives 210G,1,3.6,210,GRNWVES,YOUNG FAMILIES,Budget
3,1003,2019-03-08,1,4,106,Natural ChipCo Hony Soy Chckn175g,1,3.0,175,NATURAL,YOUNG FAMILIES,Budget
4,1004,2018-11-02,1,5,96,WW Original Stacked Chips 160g,1,1.9,160,WOOLWORTHS,OLDER SINGLES/COUPLES,Mainstream

In [8]:
client_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264834 entries, 0 to 264833
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   LYLTY_CARD_NBR    264834 non-null  int64
 1   DATE              264834 non-null  datetime64[ns]
 2   STORE_NBR         264834 non-null  int64
 3   TXN_ID            264834 non-null  int64
 4   PROD_NBR          264834 non-null  int64
 5   PROD_NAME         264834 non-null  object
 6   PROD_QTY          264834 non-null  int64
 7   TOT_SALES         264834 non-null  float64
 8   PACK_SIZE         264834 non-null  int64
 9   BRAND             264834 non-null  object
 10  LIFESTAGE         264834 non-null  object
 11  PREMIUM_CUSTOMER  264834 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(6), object(4)
memory usage: 24.2+ MB

In [9]:
# check unique values for all features
client_df.nunique()

LYLTY_CARD_NBR       72636
DATE                   364
STORE_NBR              272
TXN_ID              263125
PROD_NBR               114
PROD_NAME              114
PROD_QTY                 5
TOT_SALES              111
PACK_SIZE               21
BRAND                   21
LIFESTAGE                7
PREMIUM_CUSTOMER         3
dtype: int64

Client wanted to select store numbers 77, 86 88 as trial stores and want control stores to be established stores that are operational for the entire
observation period.
We would want to match trial stores to control stores that are similar to the trial
store prior to the trial period of Feb 2019 in terms of :
- Monthly overall sales revenue
- Monthly number of customers
- Monthly number of transactions per customer

In [10]:
# change datatypes first
client_df['DATE'] = client_df['DATE'].astype("str")

In [11]:
# add a new month ID column with the format yyyymm
yearmonth_values = []
for i in range(client_df.shape[0]):    
    # get the year data. covert to string for joining later
    client_year = client_df['DATE'][i].split("-")[0]
    # get the month data and convert to string for joining
    client_month = client_df['DATE'][i].split("-")[1]
    # add values together
    some_value = client_year+client_month
    # append to list
    yearmonth_values.append(some_value)

In [12]:
client_df['yearmonth'] = yearmonth_values
client_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264834 entries, 0 to 264833
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   LYLTY_CARD_NBR    264834 non-null  int64
 1   DATE              264834 non-null  object
 2   STORE_NBR         264834 non-null  int64
 3   TXN_ID            264834 non-null  int64
 4   PROD_NBR          264834 non-null  int64
 5   PROD_NAME         264834 non-null  object
 6   PROD_QTY          264834 non-null  int64
 7   TOT_SALES         264834 non-null  float64
 8   PACK_SIZE         264834 non-null  int64
 9   BRAND             264834 non-null  object
 10  LIFESTAGE         264834 non-null  object
 11  PREMIUM_CUSTOMER  264834 non-null  object
 12  yearmonth         264834 non-null  object
dtypes: float64(1), int64(6), object(6)
memory usage: 26.3+ MB

In [13]:
# convert month_id column to integer datatype
client_df['yearmonth'] = pd.to_numeric(client_df['yearmonth'])

In [14]:
# convert the date column back to datetime object
client_df['DATE'] = pd.to_datetime(client_df['DATE'])

In [15]:
# check if changes are made
client_df

,LYLTY_CARD_NBR,DATE,STORE_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,PACK_SIZE,BRAND,LIFESTAGE,PREMIUM_CUSTOMER,yearmonth
0,1000,2018-10-17,1,1,5,Natural Chip Compny SeaSalt175g,2,6.0,175,NATURAL,YOUNG SINGLES/COUPLES,Premium,201810
1,1002,2018-09-16,1,2,58,Red Rock Deli Chikn&Garlic Aioli 150g,1,2.7,150,RRD,YOUNG SINGLES/COUPLES,Mainstream,201809
2,1003,2019-03-07,1,3,52,Grain Waves Sour Cream&Chives 210G,1,3.6,210,GRNWVES,YOUNG FAMILIES,Budget,201903
3,1003,2019-03-08,1,4,106,Natural ChipCo Hony Soy Chckn175g,1,3.0,175,NATURAL,YOUNG FAMILIES,Budget,201903
4,1004,2018-11-02,1,5,96,WW Original Stacked Chips 160g,1,1.9,160,WOOLWORTHS,OLDER SINGLES/COUPLES,Mainstream,201811
...,...,...,...,...,...,...,...,...,...,...,...,...,...
264829,2370701,2018-12-08,88,240378,24,Grain Waves Sweet Chilli 210g,2,7.2,210,GRNWVES,YOUNG FAMILIES,Mainstream,201812
264830,2370751,2018-10-01,88,240394,60,Kettle Tortilla ChpsFeta&Garlic 150g,2,9.2,150,KETTLE,YOUNG FAMILIES,Premium,201810
264831,2370961,2018-10-24,88,240480,70,Tyrrells Crisps Lightly Salted 165g,2,8.4,165,TYRRELLS,OLDER FAMILIES,Budget,201810
264832,2370961,2018-10-27,88,240481,65,Old El Paso Salsa Dip Chnky Tom Ht300g,2,10.2,300,OLD,OLDER FAMILIES,Budget,201810
264833,2373711,2018-12-14,88,241815,16,Smiths Crinkle Chips Salt & Vinegar 330g,2,11.4,330,SMITHS,YOUNG SINGLES/COUPLES,Mainstream,201812

In [16]:
client_df.dtypes

LYLTY_CARD_NBR               int64
DATE                datetime64[ns]
STORE_NBR                    int64
TXN_ID                       int64
PROD_NBR                     int64
PROD_NAME                   object
PROD_QTY                     int64
TOT_SALES                  float64
PACK_SIZE                    int64
BRAND                       object
LIFESTAGE                   object
PREMIUM_CUSTOMER            object
yearmonth                    int64
dtype: object

In [17]:
# sort client_df by date from lowest to highest
client_df = client_df.sort_values(by='DATE').reset_index(drop=True)

 For each store and month calculate total sales, number of customers,
transactions per customer, chips per customer and the average price per unit.

In [18]:
# total sales per store per date
total_sales = client_df.groupby(by=['STORE_NBR','yearmonth']).sum()['TOT_SALES']
total_sales

STORE_NBR  yearmonth
1          201807       206.9
           201808       176.1
           201809       278.8
           201810       188.1
           201811       192.6
                        ...
272        201902       395.5
           201903       442.3
           201904       445.1
           201905       314.6
           201906       312.1
Name: TOT_SALES, Length: 3169, dtype: float64

In [19]:
# get the number of transactions
transactions = client_df.groupby(by=['STORE_NBR','yearmonth']).count()['LYLTY_CARD_NBR']
transactions

STORE_NBR  yearmonth
1          201807       52
           201808       43
           201809       62
           201810       45
           201811       47
                        ..
272        201902       48
           201903       53
           201904       56
           201905       40
           201906       37
Name: LYLTY_CARD_NBR, Length: 3169, dtype: int64

In [20]:
# get the number of customers
unique_customers = client_df.groupby(by=['STORE_NBR','yearmonth']).nunique()['LYLTY_CARD_NBR']
unique_customers

STORE_NBR  yearmonth
1          201807       49
           201808       42
           201809       59
           201810       44
           201811       46
                        ..
272        201902       45
           201903       50
           201904       54
           201905       34
           201906       34
Name: LYLTY_CARD_NBR, Length: 3169, dtype: int64

In [21]:
# get the number of transactions PER customer
transactions_per_customer = transactions / unique_customers
transactions_per_customer

STORE_NBR  yearmonth
1          201807       1.061224
           201808       1.023810
           201809       1.050847
           201810       1.022727
           201811       1.021739
                          ...
272        201902       1.066667
           201903       1.060000
           201904       1.037037
           201905       1.176471
           201906       1.088235
Name: LYLTY_CARD_NBR, Length: 3169, dtype: float64

In [22]:
# get the number of chips purchased
chips_purchased = client_df.groupby(by=['STORE_NBR','yearmonth']).sum()['PROD_QTY']
chips_purchased

STORE_NBR  yearmonth
1          201807        62
           201808        54
           201809        75
           201810        58
           201811        57
                       ...
272        201902        91
           201903       101
           201904       105
           201905        71
           201906        70
Name: PROD_QTY, Length: 3169, dtype: int64

In [23]:
# get chips PER customer
chips_per_customer = chips_purchased / unique_customers
chips_per_customer

STORE_NBR  yearmonth
1          201807       1.265306
           201808       1.285714
           201809       1.271186
           201810       1.318182
           201811       1.239130
                          ...
272        201902       2.022222
           201903       2.020000
           201904       1.944444
           201905       2.088235
           201906       2.058824
Length: 3169, dtype: float64

In [24]:
# get chips PER transaction
chips_per_transaction = chips_purchased / transactions
chips_per_transaction

STORE_NBR  yearmonth
1          201807       1.192308
           201808       1.255814
           201809       1.209677
           201810       1.288889
           201811       1.212766
                          ...
272        201902       1.895833
           201903       1.905660
           201904       1.875000
           201905       1.775000
           201906       1.891892
Length: 3169, dtype: float64

In [25]:
# get the average price per unit
price_per_unit = total_sales / chips_purchased
price_per_unit

STORE_NBR  yearmonth
1          201807       3.337097
           201808       3.261111
           201809       3.717333
           201810       3.243103
           201811       3.378947
                          ...
272        201902       4.346154
           201903       4.379208
           201904       4.239048
           201905       4.430986
           201906       4.458571
Length: 3169, dtype: float64

In [26]:
# concatenate total sales, num_customers, transactions/customer, chips/customer, and average price per unit
items_tojoin = [total_sales, \
                unique_customers, \
                transactions_per_customer, \
#                 chips_per_customer,\
                chips_per_transaction, \
                price_per_unit]
# concatenate and store in a variable
measureOverTime_df = pd.concat(items_tojoin, axis=1)

In [27]:
measureOverTime_df.columns.values

array(['TOT_SALES', 'LYLTY_CARD_NBR', 'LYLTY_CARD_NBR', 0, 1],
      dtype=object)

In [28]:
# rename columms
new_names = ["totSales", 'nCustomers','nTxnPerCust','nChipsPerTxn','avgPricePerUnit']

measureOverTime_df.columns = new_names

In [29]:
# check if changes are made
measureOverTime_df.head()

                     totSales  nCustomers  nTxnPerCust  nChipsPerTxn  \
STORE_NBR yearmonth
1         201807        206.9          49     1.061224      1.192308
          201808        176.1          42     1.023810      1.255814
          201809        278.8          59     1.050847      1.209677
          201810        188.1          44     1.022727      1.288889
          201811        192.6          46     1.021739      1.212766

                     avgPricePerUnit
STORE_NBR yearmonth
1         201807            3.337097
          201808            3.261111
          201809            3.717333
          201810            3.243103
          201811            3.378947

In [30]:
measureOverTime_df.reset_index(inplace=True)

In [31]:
measureOverTime_df.head()

,STORE_NBR,yearmonth,totSales,nCustomers,nTxnPerCust,nChipsPerTxn,avgPricePerUnit
0,1,201807,206.9,49,1.061224,1.192308,3.337097
1,1,201808,176.1,42,1.023810,1.255814,3.261111
2,1,201809,278.8,59,1.050847,1.209677,3.717333
3,1,201810,188.1,44,1.022727,1.288889,3.243103
4,1,201811,192.6,46,1.021739,1.212766,3.378947

In [32]:
## find the stores with full observation (store with all dates)

# first find how many oberservations there are in total:
client_df['yearmonth'].nunique()

12

In [33]:
# stores that don't have 12 unique "yearmonth" values don't have full observations
store_yearmonth = pd.DataFrame(measureOverTime_df.groupby(by='STORE_NBR').nunique()['yearmonth'])
store_yearmonth.loc[store_yearmonth['yearmonth'] != 12]

           yearmonth
STORE_NBR
11                 2
31                 2
44                11
76                 1
85                 1
92                 1
117               11
193                3
206                2
211                2
218               11
252                2

In [34]:
# find stores that don't have 12 obervations
store_missingValues = store_yearmonth.loc[store_yearmonth['yearmonth'] != 12].index.values

In [35]:
store_missingValues

array([ 11,  31,  44,  76,  85,  92, 117, 193, 206, 211, 218, 252],
      dtype=int64)

In [36]:
measureOverTime_df.head()

,STORE_NBR,yearmonth,totSales,nCustomers,nTxnPerCust,nChipsPerTxn,avgPricePerUnit
0,1,201807,206.9,49,1.061224,1.192308,3.337097
1,1,201808,176.1,42,1.023810,1.255814,3.261111
2,1,201809,278.8,59,1.050847,1.209677,3.717333
3,1,201810,188.1,44,1.022727,1.288889,3.243103
4,1,201811,192.6,46,1.021739,1.212766,3.378947

In [37]:
# drop stores by only selecting stores that have full observations
storesWithFullObs = measureOverTime_df.loc[~measureOverTime_df['STORE_NBR'].isin(store_missingValues)]

In [38]:
print(storesWithFullObs.shape)
storesWithFullObs.head()

(3120, 7)

,STORE_NBR,yearmonth,totSales,nCustomers,nTxnPerCust,nChipsPerTxn,avgPricePerUnit
0,1,201807,206.9,49,1.061224,1.192308,3.337097
1,1,201808,176.1,42,1.023810,1.255814,3.261111
2,1,201809,278.8,59,1.050847,1.209677,3.717333
3,1,201810,188.1,44,1.022727,1.288889,3.243103
4,1,201811,192.6,46,1.021739,1.212766,3.378947

In [40]:
# filter the pre-trial period (before february of 2019)
preTrialMeasures = storesWithFullObs.loc[storesWithFullObs['yearmonth'] < 201902]
preTrialMeasures.head()

,STORE_NBR,yearmonth,totSales,nCustomers,nTxnPerCust,nChipsPerTxn,avgPricePerUnit
0,1,201807,206.9,49,1.061224,1.192308,3.337097
1,1,201808,176.1,42,1.023810,1.255814,3.261111
2,1,201809,278.8,59,1.050847,1.209677,3.717333
3,1,201810,188.1,44,1.022727,1.288889,3.243103
4,1,201811,192.6,46,1.021739,1.212766,3.378947

Create a functions that calculates the <b>correlation</b> between trial store and other stores based on a single metric

In [41]:
client_df.head()

,LYLTY_CARD_NBR,DATE,STORE_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,PACK_SIZE,BRAND,LIFESTAGE,PREMIUM_CUSTOMER,yearmonth
0,104039,2018-07-01,104,103937,53,RRD Sweet Chilli & Sour Cream 165g,2,6.0,165,RRD,OLDER SINGLES/COUPLES,Premium,201807
1,118107,2018-07-01,118,121300,33,Cobs Popd Swt/Chlli &Sr/Cream Chips 110g,2,7.6,110,COBS,RETIREES,Mainstream,201807
2,226024,2018-07-01,226,226348,114,Kettle Sensations Siracha Lime 150g,2,9.2,150,KETTLE,YOUNG FAMILIES,Premium,201807
3,152040,2018-07-01,152,150459,25,Pringles SourCream Onion 134g,2,7.4,134,PRINGLES,YOUNG FAMILIES,Mainstream,201807
4,33140,2018-07-01,33,30342,10,RRD SR Slow Rst Pork Belly 150g,2,5.4,150,RRD,YOUNG FAMILIES,Mainstream,201807

In [67]:
client_df.corr()

,LYLTY_CARD_NBR,STORE_NBR,TXN_ID,PROD_NBR,PROD_QTY,TOT_SALES,PACK_SIZE,yearmonth
LYLTY_CARD_NBR,1.000000,0.950868,0.954919,0.001769,0.002296,0.001392,0.000713,-0.001803
STORE_NBR,0.950868,1.000000,0.997593,0.002324,0.004766,0.001672,0.000259,0.000369
TXN_ID,0.954919,0.997593,1.000000,0.002558,0.004937,0.001994,0.000235,0.000135
PROD_NBR,0.001769,0.002324,0.002558,1.000000,-0.002043,-0.160224,-0.230428,-0.003781
PROD_QTY,0.002296,0.004766,0.004937,-0.002043,1.000000,0.527788,0.001761,-0.002034
TOT_SALES,0.001392,0.001672,0.001994,-0.160224,0.527788,1.000000,0.369834,-0.001803
PACK_SIZE,0.000713,0.000259,0.000235,-0.230428,0.001761,0.369834,1.000000,0.001495
yearmonth,-0.001803,0.000369,0.000135,-0.003781,-0.002034,-0.001803,0.001495,1.000000

In [92]:
# create a functions that calculates the correlation between trial store and other stores based on a single metric
test_df = pd.DataFrame(preTrialMeasures.loc[preTrialMeasures['STORE_NBR'] == 1,'totSales'])
pd.DataFrame(preTrialMeasures.loc[preTrialMeasures['STORE_NBR'] == 77,"totSales"]).reset_index(drop=True).corrwith(test_df,axis=0).values[0]

0.07521784241886638

In [124]:
def findCorrelation(pre_trial_store, trial_store_num, measuring_metric):
    # create empty dataframe with column names to store values later
    some_dataframe = pd.DataFrame(columns =
                                 ['trial_store',"other_stores","measure","correlation"])
    
    # define number of stores for looping
    number_of_stores = pre_trial_store['STORE_NBR'].unique()
    
    for i in number_of_stores:
        
        # create a dataframe for the store used for comparison with just the measuring metrics column
        df_forTrial = pd.DataFrame(pre_trial_store.loc[pre_trial_store['STORE_NBR'] == i, measuring_metric]).reset_index(drop=True)
        
        # Create a dataframe for the pre-trial store with the measuring metrics column
        measuring_df = pd.DataFrame(pre_trial_store.\
                                    loc[pre_trial_store['STORE_NBR']==trial_store_num, \
                                        measuring_metric]).reset_index(drop=True)
        
        # Find correlation between two columns of data
        correlation_val = measuring_df.corrwith(df_forTrial, axis=0).values[0]
        
        # append the calculated values into a dataframe
        some_dataframe = some_dataframe.append({
            "trial_store": trial_store_num,
            "other_stores": i,
            "measure": measuring_metric,
            "correlation": correlation_val            
        }, ignore_index=True)
        
    # return the dataframe created in this function
    return some_dataframe

In [125]:
# try store number 4
corr_nSales = findCorrelation(preTrialMeasures, 77, "totSales")
corr_nSales

    trial_store other_stores   measure  correlation
0            77            1  totSales     0.075218
1            77            2  totSales    -0.263079
2            77            3  totSales     0.806644
3            77            4  totSales    -0.263300
4            77            5  totSales    -0.110652
..          ...          ...       ...          ...
255          77          268  totSales     0.344757
256          77          269  totSales    -0.315730
257          77          270  totSales     0.315430
258          77          271  totSales     0.355487
259          77          272  totSales     0.117622

[260 rows x 4 columns]

Apart from correlation, calculate a standardized metric based on the absolute difference bewteen the trial store's performance and each control store's performance.

In [110]:
preTrialMeasures.head()

,STORE_NBR,yearmonth,totSales,nCustomers,nTxnPerCust,nChipsPerTxn,avgPricePerUnit
0,1,201807,206.9,49,1.061224,1.192308,3.337097
1,1,201808,176.1,42,1.023810,1.255814,3.261111
2,1,201809,278.8,59,1.050847,1.209677,3.717333
3,1,201810,188.1,44,1.022727,1.288889,3.243103
4,1,201811,192.6,46,1.021739,1.212766,3.378947

In [131]:
# find magnitude difference
def findDifference(pre_trial_store, trial_store_num, measuring_metric):
    # create empty dataframe
    some_dataframe = pd.DataFrame(columns =
                                 ['trial_store',"other_stores","measure","difference"])
    
    # define number of stores for looping
    number_of_stores = pre_trial_store['STORE_NBR'].unique()
    
    for i in number_of_stores:
        df_forTrial = pd.DataFrame(pre_trial_store.loc[pre_trial_store['STORE_NBR'] == i, measuring_metric]).reset_index(drop=True)
        measuring_df = pd.DataFrame(pre_trial_store.\
                                    loc[pre_trial_store['STORE_NBR']==trial_store_num, \
                                        measuring_metric]).reset_index(drop=True)
        # calculate absolute difference (this outputs a dataframe with total sales for all yearmonths for each store)
        
        abs_difference = abs(measuring_df - df_forTrial)
        
        # standardize the magnitude distance so the measure ranges from 0 to 1
        ######################
        abs_max = abs_difference.max()
        abs_min = abs_difference.min()
        
        mag_difference = np.mean(1 - (abs_difference-abs_min) / 
                                (abs_max - abs_min))
        ######################
        
        # add calculated values into the dataframe
        some_dataframe = some_dataframe.append({
            "trial_store": trial_store_num,
            "other_stores": i,
            "measure": measuring_metric,
            "difference": mag_difference.values[0]          
        }, ignore_index=True)
        

    return some_dataframe

In [132]:
distance_nCustomers = findDifference(preTrialMeasures, 77, "totSales")
distance_nCustomers

    trial_store other_stores   measure  difference
0            77            1  totSales    0.408163
1            77            2  totSales    0.590119
2            77            3  totSales    0.522914
3            77            4  totSales    0.644934
4            77            5  totSales    0.516320
..          ...          ...       ...         ...
255          77          268  totSales    0.429787
256          77          269  totSales    0.559099
257          77          270  totSales    0.591547
258          77          271  totSales    0.341091
259          77          272  totSales    0.523631

[260 rows x 4 columns]